@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /* Dark Theme */
    --background: #191515;
    --foreground: #E1E1E1;

    --footer-foreground: #2e2e2e;

    --button-background: #212121;
    --button-background-accent: #303030;
    --button-foreground: #cacaca;
    --button-accent: #d45b5b;

    /* Light Theme */
    --background: #E1E1E1;
    --foreground: #191515;

    --footer-foreground: #c4c4c4;

    --button-background: #ebebeb;
    --button-background-accent: #eaeaea;
    --button-foreground: #2a2a2a;
    --button-accent: #d45b5b;

    --shado-down:
        0.3px 0.3px 0.2px -10px rgba(0, 0, 0, 0.011),
        0.7px 0.7px 0.5px -10px rgba(0, 0, 0, 0.016),
        1.3px 1.3px 1px -10px rgba(0, 0, 0, 0.02),
        2.2px 2.2px 1.8px -10px rgba(0, 0, 0, 0.024),
        4.2px 4.2px 3.3px -10px rgba(0, 0, 0, 0.029),
        10px 10px 8px -10px rgba(0, 0, 0, 0.04);
    --shadow-up:
        0.3px 0.3px 0.3px rgba(0, 0, 0, 0.014),
        0.7px 0.7px 0.7px rgba(0, 0, 0, 0.02),
        1.3px 1.3px 1.3px rgba(0, 0, 0, 0.025),
        2.2px 2.2px 2.2px rgba(0, 0, 0, 0.03),
        4.2px 4.2px 4.2px rgba(0, 0, 0, 0.036),
        10px 10px 10px rgba(0, 0, 0, 0.05);
}

html {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Noto Sans';
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main {
    display: flex;
}

.footer {
    display: grid;
    place-items: center;
    margin: 3vw;
}

.footer p {
    color: var(--footer-foreground);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.img {
    display: grid;
    place-items: center;
}

.img img {
    background-color: var(--button-background);
    width: 28vw;
    transition: all 0.4s;
    box-shadow: var(--shado-down);
    border-radius: 2%;
}

.img img:hover {
    background-color: var(--button-background-accent);
    border-radius: 5%;
    box-shadow: var(--shadow-up);
}

.layout {
    margin: 4vw;
}

.title {
    font-size: 3vw;
    font-family: 'Amatic SC';
}

@media (max-width: 1300px) {
    .title {
        font-size: 4vw;
    }

    .img img {
        width: 32vw;
    }
}

@media (max-width: 900px) {

    .main {
        display: block;
    }

    .img img {
        object-fit: cover;
        object-position: center;
        height: 30vh;
        width: 100vw;
    }

    .layout {
        display: grid;
        text-align: center;
        place-items: center;
    }

    .title {
        font-size: 14vw;
    }
}